<div class="showpage">

  <h1>Subjects</h1>

  <div class="showtitle">
      <img class="showlogo" src="<%= @subject.logo %>"></img>
      <div class="showsubject">
        <h1><%= @subject.title %></h1>
        <h4><%= @subject.summary %></h4>
      </div>
  </div>
  <% @topics = @subject.topics %>
  <div class="">
    <% @topics.each do |topic|  %>
    <h3> <%= topic.name %> </h3>
      <div class="contenttopic">
          <p><%= topic.content %></p>
          <img class="timg" src="<% topic.timg %>" alt="">
      </div>
    <% end %>
  </div>

</div>
