<div class="showpage">
  <% @topics = @subject.topics %>


  <div class="showtitle">
      <img class="showlogo" src="<%= @subject.logo %>"></img>
      <div class="showsubject">
        <h1><%= @subject.title %></h1>
        <hr>
        <h4><%= @subject.summary %></h4>
      </div>
  </div>
  <div class="topicdiv">
    <% @topics.each do |topic|  %>
    <h3> <%= topic.name %> </h3>
      <div class="contenttopic">
          <p><%= topic.content %></p>
          <img class="timg" src="<% topic.timg %>" alt="">
      </div>
      <hr>
    <% end %>
  </div>
<<<<<<< HEAD

=======
>>>>>>> 8c409296d0c5c2d2f4e51dbf908e63c779e31f10
</div>
